<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Rhamana Viana</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link href="https://cdn.jsdelivr.net/gh/css-gg/fonts/aileron.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre-mim">Sobre mim</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#experiencia-academica">Certificados</a></li>
                <li><a href="#contato">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="home" class="scroll-sections">
            <div class="home-content">
                <div class="home-text">
                    <h1>Olá, eu sou a<br><span>RHAMANA VIANA</span></h1>
                    <hr> 
                    <p>Desenvolvedora web</p>
                </div>
                <div class="home-image">
                    <!-- Imagem da Rhamana Viana - a ser adicionada -->
                    <img src="/static/assets/rhamana.jpeg" alt="Rhamana Viana" style="width: 350px; height:500px;"> 
                </div>
            </div>
        </section>

        <section id="sobre-mim" class="scroll-sections">
        <div class="card">
            <div class="sobre-mim-content">
                <div class="sobre-mim-left">
                    <div class="imagem-placeholder">
                        <img src="/static/assets/eueu.jpg" alt="Rhamana Viana" style="width: 450px; height:250px;">
                    </div>
                </div>
                <div class="sobre-mim-right">
                    <h2>SOBRE MIM</h2>
                    <p>
                        Tenho interesse em tecnologia, inovação e desenvolvimento contínuo, buscando sempre me atualizar por meio de cursos complementares em diversas áreas. Valorizo o trabalho em equipe, a comunicação clara e objetiva, além da capacidade de escuta e colaboração, habilidades que aplico em projetos acadêmicos e profissionais. Minha organização e proatividade me permitem atuar de forma eficiente na resolução de problemas, enquanto a adaptabilidade e o pensamento crítico fortalecem minha atuação em ambientes dinâmicos. Estou em constante evolução, aberta a novos desafios e oportunidades que impulsionem meu crescimento pessoal e profissional.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="projetos" class="scroll-sections">
    <h2>Projetos Desenvolvidos</h2>
    <div class="projetos-grid">
        <div class="projeto-item">
            <img src="/static/assets/investimento.png" alt="">
            <div class="projeto-conteudo">
                <h3>Investimentos</h3>
                <p class="description">Projeto sobre educação financeira, com foco em investimentos, Tesouro Direto, renda fixa, renda variável e organização das finanças.</p>
                <div class="projeto-tags">
                    <span class="tag">HTML</span>
                    <span class="tag">CSS</span>
                    <span class="tag">JavaScript</span>
                </div>
                <a href="https://projeto-investimento-ez1o.onrender.com/" class="projeto-link" target="_blank" rel="noopener noreferrer">Ver Projeto</a>
            </div>
        </div>

        <div class="projeto-item" >
            <img src="/static/assets/chat.png" alt="">
            <div class="projeto-conteudo">
                <h3>Chat de Conversa</h3>
                <p class="description">Projeto de chat de conversa com interface interativa, focado em comunicação em tempo real entre usuários.</p>
                <div class="projeto-tags">
                    <span class="tag">HTML</span>
                    <span class="tag">CSS</span>
                    <span class="tag">JavaScript</span>
                </div>
                <a href="https://chat-pessoal-z1cj.onrender.com" class="projeto-link" target="_blank" rel="noopener noreferrer">Ver Projeto</a>
            </div>
        </div>

        <div class="projeto-item">
            <img src="/static/assets/cartas.png" alt="">
            <div class="projeto-conteudo">
                <h3>Jogo de cartas</h3>
                <p class="description">Jogo de cartas estilo Pokémon com o tema Ben 10, desenvolvido com foco em interatividade e elementos visuais personalizados..</p>
                <div class="projeto-tags">
                    <span class="tag">HTML</span>
                    <span class="tag">CSS</span>
                    <span class="tag">JavaScript</span>
                </div>
                <a href="#" class="projeto-link" target="_blank" rel="noopener noreferrer">Ver Projeto</a>
            </div>
        </div>
    </div>
</section>
    <section id="habilidades" class="scroll-section">
    <div class="container">
        <h2>Habilidades</h2>
        <div class="habilidades-grid">
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/html.png" alt="Ícone HTML" class="skill-icon">
                    <h3>HTML</h3>
                </div>
                <p>Estruturar e organizar o conteúdo textual das interfaces web, aplicando boas práticas e semântica adequada.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/css.png" alt="Ícone CSS" class="skill-icon">
                    <h3>CSS</h3>
                </div>
                <p>Estilizar páginas web, garantindo um design visualmente atraente e alinhado. </p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/script-java.png" alt="Ícone JavaScript" class="skill-icon">
                    <h3>JavaScript</h3>
                </div>
                <p>Desenvolvimento de interatividade e lógica de front-end para aplicações web dinâmicas.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/mysql.png" alt="Ícone MySQL" class="skill-icon">
                    <h3>Banco de Dados - MySQL</h3>
                </div>
                <p>Criação, gerenciamento e otimização de bancos de dados relacionais e integração com aplicações Python. </p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/python.png" alt="Ícone Python" class="skill-icon">
                    <h3>Python</h3>
                </div>
                <p>Desenvolver aplicações web e API e automatizar tarefas com código eficiente e organizado.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/canva.webp" alt="Ícone Canva" class="skill-icon">
                    <h3>Canva</h3>
                </div>
                <p>Criação de protótipos visuais e designs intuitivos, facilitando a comunicação de ideias em projetos.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/github.png" alt="Ícone GitHub" class="skill-icon">
                    <h3>GitHub</h3>
                </div>
                <p>Uso para controlar versões, colaborar em projetos e organizar meu código de forma eficiente.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/Flask.png" alt="Ícone Flask" class="skill-icon">
                    <h3>Flask</h3>
                </div>
                <p>Desenvolver aplicações web e APIs leves, com estrutura simples e flexível.</p>
            </div>
                   <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/api.png" alt="Ícone Flask" class="skill-icon">
                    <h3>APIs</h3>
                </div>
                <p>Integrar sistemas e consumir dados externos, conectando aplicações de forma dinâmica e funcional.</p>
            </div>
                   <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/figma.png" alt="Ícone Flask" class="skill-icon">
                    <h3>Figma</h3>
                </div>
                <p>Criação de protótipos e interfaces de forma colaborativa, organizando visualmente a estrutura de projetos.</p>
            </div>
                   <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/trello.png" alt="Ícone Flask" class="skill-icon">
                    <h3>Trello</h3>
                </div>
                <p>Planejar e acompanhar projetos com quadros e cartões, otimizando o fluxo de trabalho.</p>
            </div>
                   <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/kanban.png" alt="Ícone Flask" class="skill-icon">
                    <h3>Kanban</h3>
                </div>
                <p>Organizar tarefas e acompanhar o progresso de atividades, facilitando a gestão ágil em equipe.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/miro.webp" alt="Ícone Flask" class="skill-icon">
                    <h3>Miro</h3>
                </div>
                <p>Criar mapas e fluxos para organizar ideias e colaborar em projetos.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/vscode.webp" alt="Ícone Flask" class="skill-icon">
                    <h3>VSCode</h3>
                </div>
                <p>Editor principal, com extensões apropriadas que agilizam o desenvolvimento.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/ux.png" alt="Ícone Flask" class="skill-icon">
                    <h3>UX e UI - Design</h3>
                </div>
                <p>Aplicar boas práticas para criar interfaces intuitivas e com boa usabilidade.</p>
            </div>
            <div class="skill-item">
                <div class="skill-title">
                    <img src="/static/assets/design-responsivo.png" alt="Ícone Flask" class="skill-icon">
                    <h3>Design Responsivo</h3>
                </div>
                <p>Desenvolver interfaces que se adaptam a diferentes telas e dispositivos.</p>
            </div>
        </div>
    </div>
</section>

<section id="experiencia-academica">
        <div class="container">
            <head>
                <h1>Experiência Acadêmica <span class="linha-decorativa"></span></h1>
            </head>
            
            <div class="secao-formacao">
                <div class="rotulo">
                    <h2>Formação</h2>
                </div>
                <div class="conteudo-formacao">
                    <p>Concluí o Ensino Médio no Sesi e o curso Tecnólogo em Desenvolvimento de Sistemas pelo Senai, onde desenvolvi sólidas habilidades práticas em programação e tecnologia. Além disso, finalizei o curso de Inglês no CCAA, o que ampliou minha capacidade de comunicação em um contexto global.</p>
                </div>
            </div>
            
            <div class="secao-cursos">
                <div class="rotulo">
                    <h2>Cursos</h2>
                </div>
                
                <div class="lista-cursos">
                    <div class="curso-item">
                        <div class="curso-cabecalho">
                            <h3>Competência Transversal </h3>
                            <div class="curso-info">
                                <p class="instituicao">Senai</p>
                                <p class="periodo">14 horas</p>
                            </div>
                        </div>
                        <div class="curso-descricao">
                            <p>Curso de Competência Transversal com foco no desenvolvimento de habilidades socioemocionais, ética, comunicação e trabalho em equipe.</p>
                        </div>
                        <div class="curso-rodape">
                            <a href="/static/certificados/comp_transversal.pdf"  class="btn-certificado" target="_blank" rel="noopener noreferrer">Ver certificado</a>
                        </div>
                    </div>
                    
                    <div class="curso-item">
                        <div class="curso-cabecalho">
                            <h3>Economia Circular</h3>
                            <div class="curso-info">
                                <p class="instituicao">Senai</p>
                                <p class="periodo">20 horas</p>
                            </div>
                        </div>
                        <div class="curso-descricao">
                            <p>Curso sobre Economia Circular com foco em sustentabilidade, reaproveitamento de recursos e redução de resíduos.</p>
                        </div>
                        <div class="curso-rodape">
                            <a href="/static/certificados/economia_circular.pdf"  class="btn-certificado" target="_blank" rel="noopener noreferrer">Ver certificado</a>
                        </div>
                    </div>
                    
                    <div class="curso-item">
                        <div class="curso-cabecalho">
                            <h3>Desvendando o 5G</h3>
                            <div class="curso-info">
                                <p class="instituicao">Senai</p>
                                <p class="periodo">15 horas</p>
                            </div>
                        </div>
                        <div class="curso-descricao">
                            <p>Curso sobre as tecnologias e impactos do 5G, com foco em conectividade, velocidade e aplicações no cotidiano.</p>
                        </div>
                        <div class="curso-rodape">
                            <a href="/static/certificados/desvendando5g.pdf"  class="btn-certificado" target="_blank" rel="noopener noreferrer">Ver certificado</a>
                        </div>
                    </div>
                    <div class="curso-item">
                        <div class="curso-cabecalho">
                            <h3>Privacidade e Proteção de Dados (LGPD)</h3>
                            <div class="curso-info">
                                <p class="instituicao">Senai</p>
                                <p class="periodo">4 horas</p>
                            </div>
                        </div>
                        <div class="curso-descricao">
                            <p>Curso sobre a Lei Geral de Proteção de Dados com foco em privacidade, segurança e tratamento de dados pessoais.</p>
                        </div>
                        <div class="curso-rodape">
                            <a href="/static/certificados/lgpd.pdf"  class="btn-certificado" target="_blank" rel="noopener noreferrer">Ver certificado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section id="contato" class="scroll-sections">
        <div class="contato-container">
            <div class="contato-imagem">
                <img src="/static/assets/logo.jpg">
            </div>
            <div class="contato-info">
                <h2>Entre em contato:</h2>
                
                <div class="contato-itens">
                    <div class="linha-vertical">
                        <div class="ponto-inicio"></div>
                        <div class="ponto-fim"></div>
                    </div>
                    
                    <div class="contato-item">
                        <p class="categoria">LINKEDIN:</p>
                        <p class="info">rhamanaviana</p>
                    </div>
                    
                    <div class="contato-item">
                        <p class="categoria">EMAIL:</p>
                        <p class="info">rhamanav@gmail.com</p>
                    </div>
                    
                    <div class="contato-item">
                        <p class="categoria">GITHUB:</p>
                        <p class="info">rhamanaviana</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>

    <footer>
        <p>&copy; 2025 Rhamana Viana. Todos os direitos reservados.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
